<div class="container form_padding">
  <br>
  <div class="form-group">
    <% flash.each do |type, msg| %>
      <div class="alert alert-danger alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div> 
    <% end %>
    <% flash.delete(:alert) %>
    <h1>Añadir Pregunta</h1>
    <div class="m-4">
      <% if !@activity.nil? %>
        <%= link_to 'Trivia', new_question_path(type: 'Trivia', activity: @activity.id), remote: true, class: 'btn btn-primary m-1' %>
        <% if !@clips.blank? %>
          <%= link_to 'Video Trivia', new_question_path(type: 'Video Trivia', activity: @activity.id), remote: true, class: 'btn btn-primary m-1' %>
          <%= link_to 'Video Test', new_question_path(type: 'Video Test', activity: @activity.id), remote: true, class: 'btn btn-primary m-1' %>
        <% end %>
        <%= link_to 'Pregunta Abierta', new_question_path(type: 'Pregunta Abierta', activity: @activity.id), remote: true, class: 'btn btn-primary m-1' %>
        <% if !@questions.blank? %>
          <%= link_to 'Pregunta Existente', new_question_path(type: 'Pregunta Existente', activity: @activity.id), remote: true, class: 'btn btn-primary m-1' %>
        <% end %>
      <% else %>
        <%= link_to 'Trivia', new_question_path(type: 'Trivia', clip: @clip.id), remote: true, class: 'btn btn-primary m-1' %>
        <%= link_to 'Pregunta Abierta', new_question_path(type: 'Pregunta Abierta', clip: @clip.id), remote: true, class: 'btn btn-primary m-1' %>
      <% end %>
    </div>
    <div id="questionForm">
    </div>
  </div>
</div>