<div class="container">
  <br>
  <div class="center handheld_display">
    <% flash.each do |type, msg| %>
      <div id="flash" class="alert alert-warning alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div> 
    <% end %>
    <% flash.delete(:alert) %>
    <h1>Pregunta</h1>
    <div class="elem activity rounded">
      <p>Pregunta: <%= @question.question %></p>
      <p>Tipo de pregunta: <%= @question.question_type %></p>
      <p>Tiempo para responder: <%= @question.response_time %>s</p>
    </div>
    <div>
      <% if !@clip.nil?%>
      <h2>Video</h2>
        <% if @question.question_type == "Video Test" %>
          <p>Decisión: <span class="bg-light text-dark"><%= @decision.description + " " + @decision.initials %></span></p>
          <p>Sanción:  <span class="bg-light text-dark"><%= @sanction.description + " " + @sanction.initials %></span></p>
        <% end %>
        <p><%= video_tag @clip.video.to_s, controls: true, class: "video" %></p>
      <% end %>  
    </div>
    <div>
      <% if @question.question_type == "Trivia" ||  @question.question_type == "Video Trivia" %>
        <h2>Respuestas</h2>
        <div hidden id="notification-block" class="center">
          <div id="notification" class="alert alert-warning alert-dismissible d-inline-block" role="alert">
          </div>
        </div>
        <div id="answers">
          <%= render @answers %>
        </div>
        <% if @answers.length() < 10 %>
          <p id="new-answer" class='m-3'><%= link_to 'Añadir respuesta', new_answer_path(question: @question), remote: true, class: 'btn btn-primary' %></p>
        <% end %>
        <div id="answer-form">
        </div>
      <% end %>
    </div>   
  </div>
</div>