  <div class="container form_padding">
    <br>
    <div class="form-group">
      <%= form_for @topic, remote: true do |t| %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-danger alert-dismissible d-inline-block" role="alert">
            <%= msg %>
          </div> 
        <% end %>
        <% flash.delete(:alert) %>
        <% if !@topic[ :description].blank? %>
          <h1>Editar topic</h1>
        <% else %>
          <p><%= link_to 'Ocultar formulario', topics_path, remote: true, class: 'btn btn-primary' %></p>
        <% end %>
        <p>
          <%= t.label :Descripción %><br>
          <%= t.text_field :description, class: "textBox" %>
        </p>
        <% if !@topic[ :description].blank? %>
          <p>
            <%= t.submit 'Editar', class: 'btn btn-primary' %>
          </p>
        <% else %>
          <p>
            <%= t.submit 'Crear', class: 'btn btn-primary' %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>