<div class="container form_padding">
  <br>
  <div class="form-group">
    <%= form_for @answer, remote: true do |f| %>
      <p>
        <%= f.label :Descripción %><br>
        <%= f.text_field :description, class: "textBox" %>
      </p>
      <p>
        <%= f.label :Opción %><br>
        <%= f.select :option, options_for_select(["Verdadero", "Falso"]) %>
      </p>
      <%= hidden_field_tag(:question, @question.id) %>
      <% if !@clip.nil? %>
        <%= hidden_field_tag(:clip, @clip.id) %>
      <% end %>
      <p>
        <%= f.submit 'Añadir', class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
</div>
