<br>
    <div class="container">
        <% flash.each do |type, msg| %>
          <div class="alert alert-danger alert-dismissible d-inline-block" role="alert">
            <%= msg %>
          </div> 
        <% end %>
        <% flash.delete(:alert) %>
        <p><%= link_to 'Ocultar usuarios', activities_path, remote: true, class: 'btn btn-primary' %></p>
        <% @users.each do |u| %>
          <div class="center topic bg-secondary rounded">
            <p>Nombre: <%= u.name %></p>
            <p>Surname: <%= u.surname %></p>
            <%= link_to 'Añadir usuario', add_activity_user_post_path(user: u[ :id]), class: 'btn btn-primary' %>
          </div>
        <% end %>
    </div>